.benefits {
    padding: 58px 0 68px;
    background: #fff;
}

.benefits .content {
    margin-bottom: 0;
}

.benefits-text {
    display: inline-block;
    width: calc(45.55% + 999px);
    margin: 0 0 0 -999px;
    padding: 37px 7.5% 41px 999px;
    background: #75c8d2;
    text-align: left;
}

.benefits-text h2 {
    margin: 0 0 27px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #fff;
}

.benefits-text p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.content ul {
    list-style: none;
    margin: 0;
}

.content li + li {
    margin: 0;
}

.benefits li {
    position: relative;
    display: inline-block;
    padding: 90px 25px 56px;
    border-top: 1px solid #d6dbdc;
    border-right: 1px solid #d6dbdc;
    flex-grow: 3;
    -ms-flex-grow: 3;
    -webkit-flex-grow: 3;
    vertical-align: top;
    text-align: center;
    height: 285px;
}

.benefits li .fa {
    margin-bottom: 20px;
}

.benefits li p {
    min-height: 60px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.benefits li:nth-child(10),
.benefits li:nth-child(5) {
    border-left: 1px solid #d6dbdc;
}

.benefits li:nth-child(2n+1) .list-content > * {
    color: #75c8d2;
}

.banner {
    text-align: center;
    padding: 52px 0 55px;
    position: relative;
    border-top: 1px solid #d6dbdc;
    border-bottom: 1px solid #d6dbdc;
}

.benefits .md {
    width: 20.25%;
}

.benefits .xs {
    width: 15.2%;
}

.benefits .sm {
    width: 18.6%;
}

.benefits .lg {
    width: 25.3%;
}

.banner h2 {
    max-width: 75.6%;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3c4a61;
}

.banner h2::after {
  background: #3c4a61;
  content: '';
  display: block;
  width: 22.5%;
  max-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 500px;
}

.banner .fa-quote-left {
    top: 21%;
    left: 5%;
    color: #75c8d2;
}

.banner .fa-quote-right {
    bottom: 13%;
    right: 27%;
  }

.banner .fa {
    position: absolute;
}
