.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #75c8d2;
    z-index: 2;

  }

  .header .content {
      position: relative;
      text-align: right;
  }

  .logo-container {
    float: left;
    width: 160px;
    padding: 23px 0 32px;
    margin: 0 35px 0 0;
    overflow: hidden;

}

.header .navbar {
    padding: 45px 0 23px;
    z-index: 2;
}

.nav-item {
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #3c4a61;
    padding: 0px;
    margin: 0 18px 0 14px;
    display: inline;
  }

.content a:not(.button) {
    border-bottom: none;
}

.content a:not(.button):visited {
    color: inherit;
}
