.partners {
    padding: 54px 0 65px;
    background: #fafafa;
    border-bottom: 35px solid #3c4a61;
    text-align: center;
}

.partners h2 {
    margin: 0 0 37px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    max-width: none;
    color: #3c4a61;
}
